.about-container {
  flex: 1;
  background-color: black;
}

.about-inner {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 100%;
}

.img-thumbnail {
  padding: 0px;
  border: none;
}

.personal-overview {
  width: 40%;
  font-family: "conforta";
  color: white;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.description {
  color: white;
  font-size: 23px;
}
