/* Overwrite some drawer default styles */
.MuiToolbar-root {
  background-color: #000000 !important;
  height: 90px;
}

.MuiPaper-root {
  background-image: url(../../media/desk.jpg) !important;
}

.drawer-header {
  height: 90px;
  background-color: #ffffff66;
}

.MuiIconButton-label {
  color: #2b2725;
}

.main-logo {
  position: absolute;
  right: calc(50% - 140px / 2);
}

.mobile-logo {
  height: 100px;
}

.MuiList-root {
  background-color: #ffffff66;
}

.link-icon {
  font-size: 22px;
  color: #2b2725;
}

.link-title span {
  font-family: "conforta-light";
  font-size: 22px;
  color: #2b2725;
}

.is-active span {
  font-size: 22px;
  font-family: "conforta-bold";
}
