.header-container {
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.header-container-mobile {
  min-height: 90px;
}

.header-container-desktop {
  min-height: 160px;
}

.link-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 160px;
  font-family: "conforta-medium";
  letter-spacing: 1px;
}

.link-container a:first-child {
  padding: 0;
  cursor: pointer;
}

.link-container a {
  margin: 0 15px;
  cursor: unset;
}
.nav-link-title {
  text-decoration: none;
  font-size: 25px;
  color: #793e3e;
  cursor: pointer;
}

.nav-link-title:hover {
  text-decoration: underline;
  transition: ease-in-out;
}

.active {
  font-size: 25px;
  transition: ease-in-out;
  color: #d60a0a;
}
.active:hover {
  text-decoration: none;
  cursor: auto;
}

.desktop-logo {
  height: 150px;
}
